{% extends 'base.html' %}
{% load static %}

{% block title %}
sign up
{% endblock %}


{% block content %}
<form action="" method="post" style="background-color: rgb(2, 2, 80); height: 105vh;" >
    <div class="container" >
        <div class="signup-option">
            <button id="loginBtn" class="btn btn-success" style="width: auto;"><a href="/signin">Login</a></button>
            <button id="registerBtn" class="btn btn-success" style="width: auto;"><a href="/signup">Register</a></button>
        </div>
        <div class="login">
            <h1 id="health"><b>HealthSphere</b></h1>
            <div class="cardi">
                <div class="row">
                    <div class="col-lg-6">
                        <img id="doctor" style="width: 300px; height: auto;" src="{% static 'doctor.jpg' %}" alt="">
                    </div>
                    <div id="signin" class="col-lg-6">
                        <div class="cards" id="cards">
                            {% if error_message %}
                            <p style="color: red;">{{ error_message }}</p>
                            {% endif %}
                            {% csrf_token %}
                            <img style="width: 70px; height: 70px;border-radius: 50%; " src="{% static 'heartbeat.png' %}" alt="">
                            <h3><b>Welcome Back</b></h3>
                            <input type="email" placeholder="@youremail.com" name="email" required>
                            <div class="next">
                                <input type="submit" value="Next >" style="width: 70px;" name="" id="next">
                                <p><a href="/forgot_password">forgot password?</a></p>
                            </div>
                            <script>
                                document.getElementById("next").addEventListener("click", function() {
                                    document.getElementById("cards").innerHTML = `
                                        {% if error_message %}
                                        <p style="color: red;">{{ error_message }}</p>
                                        {% endif %}
                                        {% csrf_token %}
                                        <img style="width: 70px; height: 70px;border-radius: 50%; " src="{% static 'heartbeat.png' %}" alt="">
                                        <h3><b>Welcome Back</b></h3>
                                        <input type="password" placeholder="****" name="password" style="color:white; outline:none;  width: 60%; padding: 10px; margin-bottom: 15px; border: 1px solid #ccc; border-radius: 5px; " required>
                                        <div class="next">
                                            <input type="submit" value="Next >" style="width: 70px;" name="" id="next">
                                        </div>
                                    `;
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}